<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="main-container container-fluid">
    <div class="row row-cols-1">
        <div class="section-1 col">
            <video autoplay muted loop>
                <source src="<%= asset_path 'video.mp4' %>" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="section-2 col">
            <h2 class="display-6 my-5 text-center">BESTSELLERS</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                <div class="col">
                    <figure class="figure">
                        <%= image_tag "img-1.jpg", class: 'figure-img img-fluid', alt: "Test" %>
                        <figcaption class="figure-caption"><a href="#">Lorem Ipsum</a></figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <%= image_tag "img-2.jpg", class: 'figure-img img-fluid', alt: "Test" %>
                        <figcaption class="figure-caption"><a href="#">Lorem Ipsum</a></figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <%= image_tag "img-3.jpg", class: 'figure-img img-fluid', alt: "Test" %>
                        <figcaption class="figure-caption"><a href="#">Lorem Ipsum</a></figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="figure">
                        <%= image_tag "img-4.jpg", class: 'figure-img img-fluid', alt: "Test" %>
                        <figcaption class="figure-caption"><a href="#">Lorem Ipsum</a></figcaption>
                    </figure>
                </div>
            </div>
        </div>
        <div class="section-3 col">
            <div class="display-6 my-5 text-center">
                <a href="#" class="btn btn-secondary btn-lg rounded-0">VIEW ALL PRODUCTS</a>
            </div>
            
            <div id="mainCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag "img-5.jpg", class: 'd-block w-100', alt: "Test" %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>About Us</h5>
                            <a href="#" class="btn btn-light btn-lg">DISCOVER OUR STORY</a>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "img-6.jpg", class: 'd-block w-100', alt: "Test" %>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>About Us</h5>
                            <a href="#" class="btn btn-light btn-lg">DISCOVER OUR STORY</a>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="section-4 col">
            <h2 class="display-6 my-5 text-center">BLOG</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <%= image_tag "img-7.jpg", class: 'card-img-top', alt: "Test" %>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Lorem Ipsum</a></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed sem libero, blandit in leo vitae, iaculis rutrum risus. 
                                Mauris scelerisque elementum tellus, nec ornare metus consequat sit amet.
                            </p>

                            <a href="#"><small>Read more...</small></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted <%= distance_of_time_in_words(Time.now, Time.now + 15.seconds) %></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <%= image_tag "img-8.jpg", class: 'card-img-top', alt: "Test" %>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Lorem Ipsum</a></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed sem libero, blandit in leo vitae, iaculis rutrum risus. 
                                Mauris scelerisque elementum tellus, nec ornare metus consequat sit amet.
                            </p>

                            <a href="#"><small>Read more...</small></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted <%= distance_of_time_in_words(Time.now, Time.now + 15.seconds) %></small>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <%= image_tag "img-9.jpg", class: 'card-img-top', alt: "Test" %>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">Lorem Ipsum</a></h5>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Sed sem libero, blandit in leo vitae, iaculis rutrum risus. 
                                Mauris scelerisque elementum tellus, nec ornare metus consequat sit amet.
                            </p>

                            <a href="#"><small>Read more...</small></a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Posted <%= distance_of_time_in_words(Time.now, Time.now + 15.seconds) %></small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="display-6 my-5 text-center">
                <a href="#" class="btn btn-secondary btn-lg rounded-0">VIEW ALL BLOGS</a>
            </div>
        </div>
    </div>
</div>