<%= form_with(model: meeting) do |form| %>
	<% if meeting.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(meeting.errors.count, "error") %> prohibited this package from being saved:</h2>

			<ul>
				<% meeting.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

    <div class="row justify-content-end">
		<div class="col col-sm-4 col-lg-3">
			<div class="input-group mb-3">
				<%= form.label :status, class: 'input-group-text' %>
				<%= form.select :status, [
					["Pending", "Pending"],
					["Done", "Done"]
				],
				{ include_blank: false },
				{ class: "form-select" } %>
			</div>
		</div>
	</div>
	<div class="row">
        <div class="col-12 col-sm-6">
			<%= form.label "Type of Event", class: 'form-label fw-bold' %>
			<div class="input-group mb-3">
                <%= form.select :category, @categories_array.present? ? options_for_select(@categories_array, meeting.category) : [],
                { include_blank: "Select a category" },
                { class: "form-select", required: false } %>
                <%= link_to icon('fa-solid', 'plus'), new_category_path, target: "_blank", :"data-bs-toggle" => "tooltip", :"data-bs-title" => 'Add new category', class:'btn btn-outline-success z-0' %>
            </div>
		</div>
		<div class="col-12 col-sm-6">
			<div class="mb-3">
				<%= form.label :others, class: 'form-label fw-bold' do %>
					Other Category
				<% end %>
				<%= form.text_field :other, class: 'form-control', placeholder: 'Other' %>
			</div>
		</div>
	</div>
    <div class="row">
        <div class="col-12 col-sm-6">
			<div class="mb-3">
				<%= form.label :date, class: 'form-label fw-bold' do %>
					Date of Event<small class="text-danger">*</small>
				<% end %>

				<%= form.date_field :date, class: 'form-control', placeholder: 'Date', max: '9999-12-31T23:59', required: true %>
			</div>
		</div>
        <div class="col-12 col-sm-6">
			<div class="mb-3">
				<%= form.label :preffered_date, class: 'form-label fw-bold' do %>
					Preffered date of Meeting or Call
				<% end %>

				<%= form.date_field :preffered_date, class: 'form-control', placeholder: 'Date', max: '9999-12-31T23:59' %>
			</div>
		</div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
			<div class="mb-3">
				<%= form.label :name, class: 'form-label fw-bold' do %>
					Name<small class="text-danger">*</small>
				<% end %>

				<%= form.text_field :name, class: 'form-control', placeholder: 'Name', required: true %>
			</div>
		</div>
        <div class="col-12 col-md-4">
			<div class="mb-3">
				<%= form.label :email, class: 'form-label fw-bold' do %>
					Email<small class="text-danger">*</small>
				<% end %>
				<%= form.email_field :email, class: 'form-control', required: true %>
			</div>
		</div>

        <div class="col-12 col-md-4">
			<div class="mb-3">
				<%= form.label :contact, class: 'form-label fw-bold' do %>
					Contact Number<small class="text-danger">*</small>
				<% end %>
				<div class="input-group mb-3">
					<span class="input-group-text" id="contact">+63</span>
					<%= form.number_field :contact, class: 'form-control', min: 0, onKeyPress: 'if(this.value.length==10) return false;', required: true %>
				</div>
			</div>
		</div>
		<div class="col-12">
			<div class="mb-3">
				<%= form.label :details, class: 'form-label fw-bold' do %>
					Other Details
				<% end %>
				<%= form.text_area :details, class: 'form-control', rows: '3', placeholder: 'Number of pax, Preferred location, etc.'  %>
			</div>
		</div>
    </div>

	<%= form.submit btn_title, class: 'w-100 btn btn-lg btn-primary mt-3' %>
<% end %>