<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="packages-confirmation-container container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h1 class="display-6 text-center my-5">Checkout</h1>
            
            <%= form_with(model: @booking, url: '/checkout/create', id: 'checkout') do |form| %>
                <div class="row">
                    <div class="col-12 col-sm-6">
                        <div class="mb-3">
                            <%= form.label :package, class: 'form-label fw-bold' do %>
                                Package<small class="text-danger">*</small>
                            <% end %>

                            <%= form.select :package, options_for_select(@packages_array, @booking.package), 
                            { include_blank: "Select your package" }, 
                            { class: "form-control", required: true } %>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <%= form.label :date, class: 'form-label fw-bold' do %>
                            Date<small class="text-danger">*</small>
                        <% end %>
                        <%= form.date_field :date, class: 'form-control', required: true %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4">
                        <div class="mb-3">
                            <%= form.label :name, class: 'form-label fw-bold' do %>
                                Name<small class="text-danger">*</small>
                            <% end %>
                            <%= form.text_field :name, class: 'form-control', required: true %>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="mb-3">
                            <%= form.label :phone, class: 'form-label fw-bold' do %>
                                Phone<small class="text-danger">*</small>
                            <% end %>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="phone">+63</span>
                                <%= form.number_field :phone, class: 'form-control', min: 0, onKeyPress: 'if(this.value.length==10) return false;', required: true %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="mb-3">
                            <%= form.label :email, class: 'form-label fw-bold' do %>
                                Email<small class="text-danger">*</small>
                            <% end %>
                            <%= form.email_field :email, class: 'form-control', required: true %>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <%= form.label :venue, class: 'form-label fw-bold' do %>
                        Venue<small class="text-danger">*</small>
                    <% end %>
                    <%= form.text_area :venue, class: 'form-control', rows: '5', placeholder: 'Venue address', required: true %>
                </div>
                <div class="mb-3">
                    <p class="form-label fw-bold">Add-ons</p>
                </div>
                <div class="row">
                    <% @addons.each do |addon| %>
                        <div class="col-12 col-sm-6">
                            <div class="form-check">
                                <%= form.check_box addon.id, {:class => "form-check-input"}, addon.name %>
                                <%= form.label addon.id, addon.name, class: 'form-check-label' %><small class="text-muted fw-light"> - <%= number_to_currency(addon.price.to_f, unit: '₱') %></small>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="text-center mt-5">
                    <%= form.button nil, class: "btn btn-primary btn-lg" do %>
                        <%= icon('fa-solid', 'cart-shopping') %> BOOK
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>