<div class="login-container">
    <div class="flash">
        <% flash.each do |name, value| %>
            <p><%= value %></p>
        <% end %>
    </div>
    <div class="form-signin w-100 m-auto">
        <a href="/" class="logo">Marjobs</a>

        <%= form_tag '/login' do %>
            <div class="form-floating">
                <%= text_field_tag :username, "", class: 'form-control', placeholder: 'Username' %>
                <label for="username">Username</label>
            </div>
            <div class="form-floating">
                <%= password_field_tag :password, "", class: 'form-control', placeholder: 'Password' %>
                <label for="password">Password</label>
            </div>

            <%= submit_tag "Sign in", class: 'w-100 btn btn-lg btn-primary' %>
        <% end %>
    </div>
</div>