<%= form_with(model: booking) do |form| %>
  	<% if booking.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

			<ul>
				<% booking.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
  	<% end %>

	<div class="row justify-content-end">
		<div class="col col-sm-4 col-lg-3">
			<div class="input-group mb-3">
				<%= form.label :status, class: 'input-group-text' %>
				<%= form.select :status, [
					["Pending", "Pending"],
					["Done", "Done"]
				],
				{ include_blank: false },
				{ class: "form-select" } %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-6">
			<div class="mb-3">
				<%= form.label :package, class: 'form-label fw-bold' do %>
					Package<small class="text-danger">*</small>
				<% end %>

				<%= form.select :package, [
					["ANDROMEDA", "Andromeda"],
					["AQUILA", "Aquila"],
					["CASSEIOPEIA", "Casseiopeia"],
					["ORION", "Orion"]
				],
				{ include_blank: "Select your package" },
				{ class: "form-select", required: true } %>
			</div>
		</div>
		<div class="col-12 col-sm-6">
			<%= form.label :date, class: 'form-label fw-bold' do %>
				Date<small class="text-danger">*</small>
			<% end %>
			<%= form.date_field :date, class: 'form-control', required: true %>
		</div>
	</div>
	<div class="row">
		<div class="col-12 col-sm-4">
			<div class="mb-3">
				<%= form.label :name, class: 'form-label fw-bold' do %>
					Name<small class="text-danger">*</small>
				<% end %>
				<%= form.text_field :name, class: 'form-control', required: true %>
			</div>
		</div>
		<div class="col-12 col-sm-4">
			<div class="mb-3">
				<%= form.label :phone, class: 'form-label fw-bold' do %>
					Phone<small class="text-danger">*</small>
				<% end %>
				<div class="input-group mb-3">
					<span class="input-group-text" id="phone">+63</span>
					<%= form.number_field :phone, class: 'form-control', min: 0, onKeyPress: 'if(this.value.length==10) return false;', required: true %>
				</div>
			</div>
		</div>
		<div class="col-12 col-sm-4">
			<div class="mb-3">
				<%= form.label :email, class: 'form-label fw-bold' do %>
					Email<small class="text-danger">*</small>
				<% end %>
				<%= form.email_field :email, class: 'form-control', required: true %>
			</div>
		</div>
	</div>

	<div class="mb-3">
		<%= form.label :venue, class: 'form-label fw-bold' do %>
			Venue<small class="text-danger">*</small>
		<% end %>
		<%= form.text_area :venue, class: 'form-control', rows: '3', placeholder: 'Venue address', required: true %>
	</div>

	<% if @addons.present? %>
		<div class="mb-3">
			<p class="form-label fw-bold">Add-ons</p>
		</div>

		<div class="row">
			<% @addons.each do |addon| %>
				<div class="col-12 col-sm-6">
					<div class="form-check">
						<%= form.check_box addon.id, {:class => "form-check-input", :checked => booking.addons.present? ? booking.addons.key?(addon.id.to_s) : ''}, addon.name %>
						<%= form.label addon.id, addon.name, class: 'form-check-label' %><small class="text-muted fw-light"> - <%= number_to_currency(addon.price.to_f, unit: '₱') %></small>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>

 	<%= form.submit btn_title, class: 'w-100 btn btn-lg btn-primary mt-3' %>
<% end %>
