<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="show-booking-container">
	<nav class="mt-3" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to "Bookings", bookings_path %></li>
    		<li class="breadcrumb-item active" aria-current="page">Booking</li>
		</ol>
	</nav>

    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
			<%= link_to icon('fa-solid', 'angle-left'), bookings_path %>
			Booking
		</h1>
    </div>

	<p style="color: green"><%= notice %></p>

	<div class="table-responsive">
		<table id="bookings" class="table table-bordered table-hover">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th>Package</th>
					<th>Date</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Email</th>
					<th>Venue</th>
					<th>Addons</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr id="<%= dom_id @booking %>">
					<th scope="row">1</th>
					<td><%= @booking.package %></td>
					<td><%= @booking.date.strftime("%B %d, %Y") %></td>
					<td><%= @booking.name %></td>
					<td><%= phone_to @booking.phone, "+63"+ @booking.phone.to_s %></td>
					<td><%= mail_to @booking.email, @booking.email %></td>
					<td><%= @booking.venue %></td>
					<td>
						<ol>
							<% @booking.addons.each do |key, value| %>
								<% if value.to_s != '0' %>
									<li><%= value %></li>
								<% end %>
							<% end %>
						</ol>
					</td>
					<td>
						<div class="d-flex justify-content-center">
							<%= link_to icon('fa-solid', 'pen-to-square') +" Edit", edit_booking_path(@booking), class: 'btn btn-link btn-sm text-decoration-none' %>
							<%= button_to icon('fa-solid', 'trash') +" Delete", @booking, method: :delete, class: 'btn btn-danger btn-sm' %>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<%= link_to "Back to bookings", bookings_path %>
</div>