<%= form_with model: user do |f| %>
    <div class="mb-3">
        <%= f.label :name, class: 'form-label' %>
        <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= f.label :username, class: 'form-label' %>
        <%= f.text_field :username, class: 'form-control' %>

        <% user.errors.full_messages_for(:username).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <%= f.password_field :password, class: 'form-control' %>

        <% user.errors.full_messages_for(:password).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <%= f.submit submit_text, :class => 'btn btn-primary' %>
<% end %>
