<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="contact-container container-fluid">
    <div class="row justify-content-center">
        <div class="col col-md-8">
            <h1 class="display-6 text-center my-5">Contact</h1>

            <p class="fw-bold mb-0">Address</p>
            <address>
                B4 L16A Perpetual Village 8, Habay 1, Bacoor City, Cavite 4102 Philippines (Near SM City Bacoor) - By appointment only
            </address>

            <p class="fw-bold mb-0">Phone</p>
            <p><a href="tel:+4733378901">+63 970 930 6093</a></p>

            <p class="fw-bold mb-0">E-mail</p>
            <p><a href="mailto:marjobs.multimedia@gmail.com">marjobs.multimedia@gmail.com</a></p>

            <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissible text-center fade show" role="alert">
                    <strong><%= flash[:notice] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            <% end %>

            <%= form_with(model: @contact, url: '/contact-us/create', ) do |form| %>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <div class="form-floating">
                                <%= form.text_field :name, class: 'form-control', placeholder: :name, required: true %>
                                <%= form.label :name, class: 'form-label' %>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="">
                            <div class="form-floating input-group mb-3">
                                <span class="input-group-text" id="phone">+63</span>
                                <%= form.number_field :phone, class: 'form-control pt-2', min: 0, placeholder: :phone, onKeyPress: 'if(this.value.length==10) return false;', required: true %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <%= form.email_field :email, class: 'form-control', placeholder: :email, required: true %>
                        <%= form.label :email, class: 'form-label' %>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-floating">
                        <%= form.text_area :message, class: 'form-control h-25', rows: '5', placeholder: "message", required: true %>
                        <%= form.label :message, class: 'form-label' %>
                    </div>
                </div>
                <div class="d-grid">
                    <%= form.submit "SEND MESSAGE", class: 'btn btn-primary btn-lg' %>
                </div>
            <% end %>
        </div>
    </div>
</div>