<%= form_with(model: album) do |form| %>
	<% if album.errors.any? %>
		<div class="text-danger">
			<h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

			<ul>
				<% album.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="mb-3">
		<%= form.label 'Title', class: 'form-label fw-bold' %>
		<%= form.text_field :name, class: 'form-control', placeholder: 'Title' %>
	</div>

	<div class="mb-3">
		<%= form.label :description, class: 'form-label fw-bold' %>
		<%= form.text_area :description, class: 'form-control', rows: '5', placeholder: 'Description' %>
	</div>

	<div class="mb-3">
		<%= form.label :images, 'Attach Files', class: 'form-label fw-bold' %>

		<div class="border-dashed rounded p-5 text-center">
			<h3>Upload your images</h3>
			<small class="text-muted d-block mb-5">JPG and PNG files are allowed</small>

			<%= form.file_field :images, multiple: true, class: 'form-control' %>
		</div>
	</div>

	<div class="mb-3">
		<%= form.label :thumbnail, 'Thumbnail', class: 'form-label fw-bold' %>
		<div class="input-group">
			<%= form.file_field :thumbnail, class: 'form-control' %>

			<%= link_to icon('fa-solid', 'trash') +" Delete", 
					album_delete_thumbnail_path(@album, form.object.thumbnail.id),
					method: :delete, 
					data: {
						turbo_method: :delete,
						turbo_confirm: "Are you sure?"
					},
					class: 'btn btn-danger' if form.object.thumbnail.attached?
			%>
		</div>
	</div>

	<%= form.submit "UPLOAD", class: 'w-100 btn btn-lg btn-primary mb-5' %>

	<h4><%= "Files" if form.object.images.attached? %></h4>

	<% form.object.images.each do |image| %>
		<figure class="figure position-relative mx-3">
			<%= link_to icon('fa-solid', 'xmark'), 
				album_delete_image_path(@album, image.id), 
				method: :delete, 
              	data: {
					turbo_method: :delete,
					turbo_confirm: "Are you sure?"
				},  
				:"data-bs-toggle" => "tooltip", 
				:"data-bs-title" => "Delete",
				class: 'close-btn position-absolute top-0 start-100 translate-middle bg-danger rounded-circle'
  			%>
		
			<%= link_to image_tag(image.variant(resize_to_limit: [200, 200]).processed, loading: 'lazy', class: 'img-thumbnail figure-img'), url_for(image), target: :_blank %>
			<figcaption class="figure-caption"><%= image.blob.filename %></figcaption>
		</figure>
 	<% end %>
<% end %>