<%= form_with(model: album) do |form| %>
	<% if album.errors.any? %>
		<div class="text-danger">
			<h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

			<ul>
				<% album.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="mb-3">
		<%= form.label 'Title', class: 'form-label' %>
		<%= form.text_field :name, class: 'form-control', placeholder: 'Title' %>
	</div>

	<div class="mb-3">
		<%= form.label :description, class: 'form-label' %>
		<%= form.text_area :description, class: 'form-control', rows: '5', placeholder: 'Description' %>
	</div>

	<div class="mb-3">
		<%= form.label :images, 'Attach Files' %>

		<div class="border-dashed rounded p-5 text-center">
			<h3>Upload your images</h3>
			<small class="text-muted d-block mb-5">JPG and PNG files are allowed</small>

			<%= form.file_field :images, multiple: true, class: 'form-control' %>
		</div>
	</div>

	 <%= form.submit "UPLOAD", class: 'w-100 btn btn-lg btn-primary' %>
  <div>
<% end %>