<%= form_with(model: album) do |form| %>
	<% if album.errors.any? %>
		<div class="text-danger">
			<h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

			<ul>
				<% album.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="mb-3">
		<%= form.label :title, class: 'form-label fw-bold' %>
		<%= form.text_field :title, class: 'form-control', placeholder: 'Title' %>
	</div>

	<div class="mb-3">
		<%= form.label :description, class: 'form-label fw-bold' %>
		<%= form.text_area :description, class: 'form-control', rows: '5', placeholder: 'Description' %>
	</div>

	<div class="mb-3">
		<%= form.label :files, 'Attach Files', class: 'form-label fw-bold' %>

		<div class="border-dashed rounded p-5 text-center">
			<h3>Upload your Files</h3>
			<small class="text-muted d-block mb-5">only JPG, PNG, GIF and MP4 files are allowed</small>

			<% if album.files.attached? %>
					<% album.files.each do |file| %>
						<% if !file.id.nil? %>
							<figure class="figure position-relative mx-3">
								<%= link_to icon('fa-solid', 'xmark'), 
									album_delete_file_path(@album, file.id), 
									method: :delete, 
									data: {
										turbo_method: :delete,
										turbo_confirm: "Are you sure?"
									},  
									:"data-bs-toggle" => "tooltip", 
									:"data-bs-title" => "Delete",
									class: 'close-btn position-absolute top-0 start-100 translate-middle bg-danger rounded-circle'
								%>
							
								<% if file.content_type.include?("image") %>
									<%= link_to image_tag(file.variant(resize_to_limit: [200, 200]).processed, loading: 'lazy', class: 'img-thumbnail figure-img'), url_for(file), target: :_blank %>
								<% else %>
									<%= video_tag url_for(file), size: "350x200", controls: true, preload: 'none', class: 'img-thumbnail figure-img' %>	
								<% end %>
								
								<figcaption class="figure-caption"><%= file.blob.filename %></figcaption>
							</figure>
						<% end %>
					<% end %>
			<% end %>

			<%= form.file_field :files, multiple: true, class: 'form-control' %>
		</div>
	</div>

	<div class="mb-3">
		<%= form.label :thumbnail, 'Thumbnail', class: 'form-label fw-bold' %>

		<div class="border-dashed rounded p-5 text-center">
			<h3>Upload your Thumbnail</h3>
			<small class="text-muted d-block mb-5">only image file is allowed</small>

			<% if album.thumbnail.attached? && !album.thumbnail.id.nil? %>
				<figure class="figure position-relative mx-3">
					<%= link_to icon('fa-solid', 'xmark'), 
						album_delete_thumbnail_path(@album, album.thumbnail.id),
						method: :delete, 
						data: {
							turbo_method: :delete,
							turbo_confirm: "Are you sure?"
						},  
						:"data-bs-toggle" => "tooltip", 
						:"data-bs-title" => "Delete",
						class: 'close-btn position-absolute top-0 start-100 translate-middle bg-danger rounded-circle' 
					%>

					<%= link_to image_tag(album.thumbnail.variant(resize_to_limit: [200, 200]).processed, loading: 'lazy', class: 'img-thumbnail figure-img'), url_for(form.object.thumbnail), target: :_blank %>
					<figcaption class="figure-caption"><%= album.thumbnail.blob.filename %></figcaption>
				</figure>
			<% end %>
			
			<%= form.file_field :thumbnail, class: 'form-control' %>
		</div>
	</div>

	<%= form.submit "UPLOAD", class: 'w-100 btn btn-lg btn-primary' %>
<% end %>