<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="albums-container">
	<nav class="mt-3" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Gallery</li>
		</ol>
	</nav>

	<div class="pt-3 pb-2 mb-3 border-bottom d-flex justify-content-between">
        <h1 class="h2 mb-0">Albums</h1>
		<%= link_to icon('fa-solid', 'plus') +" New Album", new_album_path, class: 'btn btn-success' %>
    </div>
	
	<div id="albums" class="mb-3">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead class="table-dark">
					<tr>
						<th scope="col">#</th>
						<th>Title</th>
						<th>Description</th>
						<th>Category</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<% @albums.each.with_index(1) do | album, i | %>
						<tr id="<%= dom_id album %>">
							<th scope="row"><%= i %></th>
							<td><%= link_to album.title, album_path(album) %></td>
							<td><%= album.description %></td>
							<td><%= album.category %></td>
							<td class="text-end">
								<div class="btn-group" role="group">
									<%= link_to icon('fa-solid', 'eye') +" Show", gallery_show_path(album.id), class: 'btn btn-primary btn-sm text-nowrap', target: '_blank' %>
									<%= link_to icon('fa-solid', 'pen-to-square') +" Edit", edit_album_path(album), class: 'btn btn-secondary btn-sm text-nowrap' %>
									<%= link_to icon('fa-solid', 'trash') +" Delete", album,
										method: :delete, 
										data: {
											turbo_method: :delete,
											turbo_confirm: "Are you sure?"
										},  
										class: 'btn btn-danger btn-sm text-nowrap' %>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>