<% content_for :header do %>
    <style>
        .custom-tooltip {
            --bs-tooltip-bg: var(--bs-primary);
        }
    </style>
<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag "masonry.pkgd.min.js" %>
    <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>

    <script>
        $(function() 
        {
            const tooltipTriggerList = $('[data-bs-toggle="tooltip"]');
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

            var $grid = $('.grid').imagesLoaded( function()
            {
                $grid.masonry({
                    percentPosition: true
                });
            });
        });
    </script>
<% end %>

<div class="show-album-container">
	<nav class="mt-3" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><%= link_to "Gallery", albums_path %></li>
    		<li class="breadcrumb-item active" aria-current="page">Album</li>
		</ol>
	</nav>

    <div class="pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">
          <%= link_to icon('fa-solid', 'angle-left'), albums_path %>
          Album
        </h1>
    </div>

    <% if notice.present? %>
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            <div class="toast align-items-center show text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        <%= notice %>
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    <% end %>

	<div id="<%= dom_id @album %>">
        <div class="d-flex justify-content-between">
            <div>
                <p class="mb-0"><strong>Name: </strong><%= @album.name %></p>
                <p><strong>Description: </strong><%= @album.description %></p>            
            </div>
            <%= button_to icon('fa-solid', 'trash') +" Delete", @album,
                method: :delete, 
                data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                },  
                class: 'btn btn-danger btn-sm' %>
        </div>

		<div class="row grid">
			 <% if @album.images.attached? %>
                <% @album.images.each do |image| %>
                    <div class="col col-sm-6 col-md-4 col-lg-3 mb-4">
                        <figure class="figure mb-0">
                            <%= link_to image_tag(image, loading: 'lazy', class: 'img-thumbnail figure-img', :"data-bs-toggle" => "tooltip", :"data-bs-title" => image.blob.filename, :"data-bs-custom-class" => "custom-tooltip"), url_for(image), target: :_blank %>
                            <figcaption class="figure-caption"><%= image.blob.filename %></figcaption>
                        </figure>
                    </div>
                <% end %>
            <% end %>
		</div>
  	</div>

    <div class="my-3">
		<%= link_to "Edit this album", edit_album_path(@album) %> |
		<%= link_to "Back to albums", albums_path %>
	</div>
</div>