<div id="<%= dom_id album %>" class="card-cont col mb-3">
    <div class="card shadow-sm h-100">
        <% if album.thumbnail.attached? %>
            <%= image_tag album.thumbnail.variant(resize_to_fill: [400, 400]).processed, class: 'card-img-top' %>
        <% else %>
            <% if album.files.first.image? %>
                <%= image_tag album.files.first.variant(resize_to_fill: [400, 400]).processed, class: 'card-img-top' if album.files.attached? %> 
            <% else %>
                <%= video_tag url_for(album.files.first), size: "350x200", controls: true, controlsList: 'nodownload', preload: 'none', class: 'card-img-top' if album.files.attached? %>	
            <% end %>
        <% end %>
        <div class="card-body">
            <h5 class="card-title"><%= link_to album.title, gallery_show_path(album), class: 'text-decoration-none' %></h5>
            <p class="card-text"><%= album.description %></p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <% if logged_in? %>
                <%= link_to 'Edit', edit_album_path(album), class: 'btn btn-sm btn-outline-secondary' %>
            <% end %>
            
            <small class="text-muted">Last updated <%= distance_of_time_in_words(album.created_at, Time.now + 15.seconds) %></small>
        </div>
    </div>
    <%= render partial: "fb-share-button", locals: { share_url: root_url + gallery_show_path(album) } %>
</div>