<nav>
    <div class="nav nav-tabs" role="tablist">
        <button class="nav-link active" id="nav-all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">All</button>
        <button class="nav-link" id="nav-photos-tab" data-bs-toggle="tab" data-bs-target="#photos" type="button" role="tab" aria-controls="photos" aria-selected="false">Photos</button>
        <button class="nav-link" id="nav-videos-tab" data-bs-toggle="tab" data-bs-target="#videos" type="button" role="tab" aria-controls="videos" aria-selected="false">Videos</button>
        
        <%= form_with url: gallery_show_path(@album), method: :get, class: 'ms-auto mb-1 w-25' do |form| %>
            <div class="input-group">     
                <% if(params.has_key?(:query)) %> 
                    <%= form.text_field :query, placeholder: 'search', class: 'form-control', value: params[:query] %>
                <% else %>
                    <%= form.text_field :query, placeholder: 'search', class: 'form-control' %>
                <% end %>         
                
                <%= form.submit "Search", class: 'btn btn-outline-secondary' %>
            </div>
        <% end %>
    </div>
</nav>

<div class="tab-content">
    <div class="tab-pane fade show active p-5" id="all" role="tabpanel" aria-labelledby="nav-all-tab" tabindex="0">
        <div class="row grid">
            <% @album.images.each do |image| %>
                <% if(params.has_key?(:query)) %>
                    <% if image.filename.to_s.include?(params[:query]) %>
                        <div class="col col-sm-4 col-md-3 mb-4">
                            <figure class="figure mb-0 w-100">
                                <% if image.image? %>
                                    <%= image_tag image, loading: 'lazy', class: 'img-thumbnail figure-img' %>
                                <% end %>
                                
                                <% if image.video? %>
                                    <%= video_tag url_for(image), size: "350x200", controls: true, controlsList: 'nodownload', preload: 'none', class: 'img-thumbnail figure-img w-100' %>	
                                <% end %>
                            </figure>
                        </div>
                    <% end %>
                <% else %>
                    <div class="col col-sm-4 col-md-3 mb-4">
                        <figure class="figure mb-0 w-100">
                            <% if image.image? %>
                                <%= image_tag image, loading: 'lazy', class: 'img-thumbnail figure-img' %>
                            <% end %>
                            
                            <% if image.video? %>
                                <%= video_tag url_for(image), size: "350x200", controls: true, controlsList: 'nodownload', preload: 'none', class: 'img-thumbnail figure-img w-100' %>	
                            <% end %>
                        </figure>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="tab-pane fade p-5" id="photos" role="tabpanel" aria-labelledby="nav-photos-tab" tabindex="0">
        <div class="row grid">
            <% @album.images.each do |image| %>
                <% if(params.has_key?(:query)) %>
                    <% if image.filename.to_s.include?(params[:query]) %>
                        <% if image.image? %>
                            <div class="col col-sm-4 col-md-3 mb-4">
                                <figure class="figure mb-0 w-100">
                                    <%= image_tag image, loading: 'lazy', class: 'img-thumbnail figure-img' %>
                                </figure>
                            </div>
                        <% end %>
                    <% end %>
                <% else %>
                    <% if image.image? %>
                        <div class="col col-sm-4 col-md-3 mb-4">
                            <figure class="figure mb-0 w-100">
                                <%= image_tag image, loading: 'lazy', class: 'img-thumbnail figure-img' %>
                            </figure>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
    <div class="tab-pane fade p-5" id="videos" role="tabpanel" aria-labelledby="nav-videos-tab" tabindex="0">
        <div class="row grid">
            <% @album.images.each do |image| %>
                <% if(params.has_key?(:query)) %>
                    <% if image.filename.to_s.include?(params[:query]) %>
                        <% if image.video? %>
                            <div class="col col-sm-4 col-md-3 mb-4">
                                <figure class="figure mb-0 w-100">
                                    <%= video_tag url_for(image), size: "350x200", controls: true, controlsList: 'nodownload', preload: 'none', class: 'img-thumbnail figure-img w-100' %>	
                                </figure>
                            </div>
                        <% end %>
                    <% end %>
                <% else %>
                    <% if image.video? %>
                        <div class="col col-sm-4 col-md-3 mb-4">
                            <figure class="figure mb-0 w-100">
                                <%= video_tag url_for(image), size: "350x200", controls: true, controlsList: 'nodownload', preload: 'none', class: 'img-thumbnail figure-img w-100' %>	
                            </figure>
                        </div>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>