<% content_for :header do %>
    <style>
        .gallery-container .img-cont { max-height: 250px; }
        .gallery-container .alert .fa-triangle-exclamation { margin-right: 10px; }
    </style>
<% end %>

<% content_for :footer do %>
    <script>
        $(function() 
        {
            if($.trim($('#cards', '.gallery-container').html()).length == 0)
            {
                $('.error', '.gallery-container').removeClass('d-none');
            }
        });
    </script>
<% end %>

<div class="gallery-container container-fluid">
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Gallery</h1>
                <p class="lead text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam dictum tellus id mollis porta. Suspendisse pellentesque blandit elit, 
                    et tristique est tincidunt at.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="feature card text-bg-dark border-light">
                    <%= image_tag "img-5.jpg", class: 'card-img img-fluid', alt: "Test" %>

                    <div class="card-img-overlay d-flex flex-column justify-content-end align-items-baseline">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Suspendisse odio erat, tempor sed aliquam sit amet, ultricies eget orci.</p>
                        
                        <a class="btn btn-light rounded-0 w-5" href="#" role="button">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="row mb-5">
            <div class="col-md-4 ms-auto">
                <%= form_with url: gallery_path, method: :get do |form| %>
                    <div class="input-group mb-3">
                        <% if(params.has_key?(:query)) %> 
                            <%= form.text_field :query, placeholder: 'search', class: 'form-control', value: params[:query] %>
                        <% else %>
                            <%= form.text_field :query, placeholder: 'search', class: 'form-control' %>
                        <% end %>         
                        
                        <%= form.button name: nil, class: 'btn btn-outline-secondary' do %>
                            <%= icon('fa-solid', 'search') %> Search
                        <% end %>
                        
                        <% if @categories.present? %>
                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= icon('fa-solid', 'filter') %> Filter</button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><h6 class="dropdown-header">Categories</h6></li>
                                <li><hr class="dropdown-divider"></li>
                                <% @categories.each do |category| %>
                                    <li><a class="dropdown-item" href="?category=<%= category.category.downcase %>"><%= category.category %></a></li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        
        <%= turbo_frame_tag "index-results" do %>
            <div id="cards" class="row justify-content-center">
                <% @albums.each do |album| %>
                    <% if(params.has_key?(:query)) %>
                        <% if album.title.downcase.to_s.include?(params[:query].downcase) || album.description.downcase.to_s.include?(params[:query].downcase) %>
                            <%= render partial: "card", locals: { album: album } %>    
                        <% end %>
                    <% elsif (params.has_key?(:category)) %>
                        <% if album.category.downcase.to_s.include?(params[:category].downcase) %>
                            <%= render partial: "card", locals: { album: album } %>
                        <% end %>
                    <% else %>
                        <%= render partial: "card", locals: { album: album } %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
        <div class="row justify-content-center error d-none">
            <div class="col-6">
                <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                    <h1 class="display-6"><%= icon('fa-solid', 'triangle-exclamation') %> No result found</h1>
                </div> 
            </div>
        </div>
    </div>
</div>