<% content_for :header do %>
    <style>
        .gallery-container .img-cont { max-height: 250px; }
        .gallery-container .alert .fa-triangle-exclamation { margin-right: 10px; }
        .gallery-container .card-cont { min-width: 250px; max-width: 500px; }
    </style>
<% end %>

<% content_for :fb_script do %>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" 
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0&appId=1022698442231332&autoLogAppEvents=1" 
    nonce="Mrdy1A67"></script>
<% end %>

<% content_for :footer do %>
    <script>
        $(function() 
        {
            if($('.gallery-container').hasClass('queried')) 
            {
                if($.trim($('#cards', '.gallery-container').html()).length == 0)
                {
                    $('.error', '.gallery-container').removeClass('d-none');
                }
            }
        });
    </script>
<% end %>

<div class="gallery-container container-fluid <%= 'queried' if request.query_string.present? %> <%= 'h-100' unless @albums.present? %>">
    <% if @albums.present? %>
        <div class="album py-5">
            <div class="row">
                <div class="col-md-4 ms-auto">
                    <%= form_with url: gallery_path, method: :get do |form| %>
                        <div class="input-group">
                            <% if(params.has_key?(:query)) %> 
                                <%= form.text_field :query, placeholder: 'search', class: 'form-control', value: params[:query] %>
                            <% else %>
                                <%= form.text_field :query, placeholder: 'search', class: 'form-control' %>
                            <% end %>         
                            
                            <%= form.button name: nil, class: 'search btn btn-outline-secondary' do %>
                                <%= icon('fa-solid', 'search') %> Search
                            <% end %>
                            
                            <% if @categories.present? %>
                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><%= icon('fa-solid', 'filter') %> Filter</button>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li><h6 class="dropdown-header">Categories</h6></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <% @categories.each do |category| %>
                                        <li><a class="dropdown-item" href="?category=<%= category.category.downcase %>"><%= category.category %></a></li>
                                    <% end %>
                                </ul>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            </div>

            <section class="my-3 text-center container">
                <div class="row">
                    <div class="col-lg-6 col-md-8 mx-auto">
                        <h1 class="fw-light">Gallery</h1>
                    </div>
                </div>
            </section>
            
            <div id="cards" class='row justify-content-center'>
                <% @albums.each do |album| %>
                    <% if(params.has_key?(:query)) %>
                        <% if album.title.downcase.to_s.include?(params[:query].downcase) || album.description.downcase.to_s.include?(params[:query].downcase) %>
                            <%= render partial: "card", locals: { album: album } %>    
                        <% end %>
                    <% elsif (params.has_key?(:category)) %>
                        <% if album.category.downcase.to_s.include?(params[:category].downcase) %>
                            <%= render partial: "card", locals: { album: album } %>
                        <% end %>
                    <% else %>
                        <%= render partial: "card", locals: { album: album } %>
                    <% end %>
                <% end %>
            </div>
            <div class="row justify-content-center error d-none">
                <div class="col-6">
                    <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                        <h1 class="display-6"><%= icon('fa-solid', 'triangle-exclamation') %> No result found</h1>
                    </div> 
                </div>
            </div>
        </div>
    <% else %>
        <div class="d-flex justify-content-center align-items-center flex-column h-100 w-50 mx-auto">
            <h1>No Gallery yet</h1>
            <p class="lead text-center">Coming soon<br />Come back later</p>
        </div>
    <% end %>
</div>