<% content_for :header do %>
    <style>
        .gallery-show-container .created-date { font-size: 12px; }
        .gallery-show-container .add-comment-text { font-size: 25px; }
        .gallery-show-container video { width: 100%; }
        .gallery-show-container *:focus { outline: none !important; }
        
        .gallery-show-container figure .figure-caption { line-height: 0; }
        .gallery-show-container figure .figure-caption iframe { height: 15px !important; width: 50px !important; }
    </style>
<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag "masonry.pkgd.min.js" %>
    <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>

    <script>
        $(function() 
        {
            $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function(e) 
            {
                var target = $(this).data('bs-target');

                const $grid = $('.grid', target).imagesLoaded(function()
                {
                    $grid.masonry({
                        percentPosition: true
                    });
                });
            });

            if($('figure', '.gallery-show-container').length == 0)
            {
                $('.error', '.gallery-show-container').removeClass('d-none');
            }
        });
    </script>
<% end %>

<div class="gallery-show-container container-fluid">
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col">
                <h1 class="fw-light"><%= @album.title %></h1>
                <p class="lead text-muted"><%= @album.description %></p>
            </div>
        </div>
    </section>
    
    <%= render "nav-tabs", object: @album %>

    <div class="row justify-content-center error d-none">
        <div class="col-6">
            <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                <h1 class="display-6"><%= icon('fa-solid', 'triangle-exclamation') %> No result found</h1>
            </div> 
        </div>
    </div>

    <section class="comments">
        <h3 class="add-comment-text my-5 text-center">Add a comment</h3>

        <div class="row justify-content-center">
            <div class="col col-sm-8">
                <div class="fb-comments" data-href="<%= request.original_url %>" data-width="100%" data-numposts="5"></div>
            </div>
        </div>
    </section>
</div>