<% content_for :header do %>
    <style>
        .lightbox {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1020;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 3em 1em;
            background: rgba(0,0,0,0.9);
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .lightbox img { max-height: 100%; }
    </style>
<% end %>

<% content_for :footer do %>
    <%= javascript_include_tag "masonry.pkgd.min.js" %>
    <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>

    <script>
        $(function() 
        {
            var figure = $('figure', '.gallery-show-container'),
                body = $('body');
            
            $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function(e) 
            {
                var target = $(this).data('bs-target');

                const $grid = $('.grid', target).imagesLoaded(function()
                {
                    $grid.masonry({
                        percentPosition: true
                    });
                });
            });

            if(figure.length == 0)
            {
                $('.error', '.gallery-show-container').removeClass('d-none');
            }

            figure.on('click', function() 
            {
                var content = $(this).html();

                $('<div class="lightbox">').appendTo('body').html(content);
            });

            body.on('click','.lightbox',function(e) 
            {
                $('.lightbox').remove();
            });
        });
    </script>
<% end %>

<div class="gallery-show-container container-fluid">
    <section class="py-5 text-center container">
        <div class="row">
            <div class="col">
                <h1 class="fw-light"><%= @album.title %></h1>
                <p class="lead text-muted"><%= @album.description %></p>
            </div>
        </div>
    </section>
    
    <%= render "nav-tabs", object: @album %>

    <div class="row justify-content-center error d-none">
        <div class="col-6">
            <div class="alert alert-danger d-flex align-items-center justify-content-center" role="alert">
                <h1 class="display-6"><%= icon('fa-solid', 'triangle-exclamation') %> No result found</h1>
            </div> 
        </div>
    </div>

    <section class="comments">
        <%= render "comments/comments", album: @album %>
        
        <h3 class="add-comment-text my-5 text-center">Comments</h3>

        <%= render "comments/gallery-form", comment: @comment, btn_title: 'SUBMIT' %>
    </section>
</div>