<% content_for :header do %>
<% end %>

<% content_for :footer do %>
<% end %>

<div class="categories-container">
	<nav class="mt-3" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active" aria-current="page">Categories</li>
		</ol>
	</nav>
	
    <div class="pt-3 pb-2 mb-3 border-bottom d-flex justify-content-between">
        <h1 class="h2 mb-0">Categories</h1>
		<%= link_to icon('fa-solid', 'plus') +" New category", new_category_path, class: 'btn btn-success' %>
    </div>

	<div class="table-responsive">
		<table id="categories" class="table table-bordered">
			<thead class="table-dark">
				<tr>
					<th scope="col">#</th>
					<th>Category</th>
					<th></th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<% @categories.each.with_index(1) do | category, i | %>
					<tr id="<%= dom_id category %>">
						<th scope="row"><%= i %></th>
						<td><%= category.category %></td>
						<td class="text-end">
							<div class="btn-group" role="group">
								<%= link_to icon('fa-solid', 'pen-to-square') +" Edit", edit_category_path(category), class: 'btn btn-secondary btn-sm text-nowrap' %>
								<%= link_to icon('fa-solid', 'trash') +" Delete", category,
									method: :delete, 
									data: {
										turbo_method: :delete,
										turbo_confirm: "Are you sure?"
									},  
									class: 'btn btn-danger btn-sm text-nowrap' %>
							</div>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>