<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" role="banner">
	<%= link_to "Marjobs", root_url, class: "navbar-brand col-md-2 col-lg-2 me-0 px-3 fs-3 d-none d-md-block" %>
	
	<button class="navbar-toggler d-md-none m-2 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<% if logged_in? %>
		<div class="dropdown">
			<button class="profile-btn btn btn-link dropdown-toggle text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				<span class="profile-pic rounded-circle text-bg-secondary"><%= icon('fa-solid', 'user') %></span>
			</button>
			<ul class="dropdown-menu dropdown-menu-end">
				<li>
					<%= link_to icon('fa-solid', 'user-pen') +" Edit Account", edit_user_path(@current_user), class: 'dropdown-item' %>
				</li>
				<li>
					<%= link_to icon('fa-solid', 'right-from-bracket') +" Sign out", logout_path, method: :delete, class: 'dropdown-item' %>
				</li>
			</ul>
		</div>
	<% else %>
		<div class="navbar-nav flex-row">
			<div class="nav-item text-nowrap">
				<%= link_to "Sign in", login_path, class: 'nav-link px-3' %>
			</div>
		</div>
	<% end %>
</header>