<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Marjobs - Dashboard</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= favicon_link_tag asset_path('favicon.ico') %>

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
        <%= stylesheet_link_tag "dashboard", media: "all", "data-turbo-track": "reload" %>        

        <!-- 
            TODO: Needed but causes error, maybe show in production?
            <%= javascript_importmap_tags %> 
        -->

        <%= tinymce_assets if controller.controller_name == 'packages' %>

        <%= yield :header if content_for? :header %>
    </head>
    <body class="d-flex flex-column justify-content-between">
        <% cache do %>
            <%= render "layouts/dashboard-header" %>
        <% end %>

        <main class="flex-grow-1 container-fluid" role="main">
            <div class="row">
                <% cache do %>
                    <%= render "layouts/dashboard-sidebar" %>
                <% end %>

                <main class="ms-md-auto col-md-10 px-md-4">
                    <%= yield %>

                    <% if notice.present? %>
                        <div class="toast-container position-fixed bottom-0 end-0 p-3">
                            <div class="toast align-items-center show text-bg-success" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="d-flex">
                                    <div class="toast-body">
                                        <%= notice %>
                                    </div>
                                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </main>
            </div>
        </main>

        <% cache do %>
            <%= render "layouts/dashboard-footer" %>
        <% end %>
        
        <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "dashboard", "data-turbo-track": "reload" %>
        <%= javascript_include_tag "turbo", type: "module" %>

        <%= tinymce if controller.controller_name == 'packages' %>
        
        <%= yield :footer if content_for? :footer %>
    </body>
</html>